@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-3 rounded-[15px];
  }

  .btn-primary {
    @apply btn bg-primary text-white font-semibold;
  }
}

input:disabled {
  background-color: inherit;
  cursor: not-allowed;
}

a {
  @apply text-primary;
}
